img {
  border-style: none;
  position: relative;
}

html {
  background-color: #4b4b7f;
}
.container {
    width: 95%;
    background-color: #e3e3ff;
    margin: 0 auto;
}
#bullets li {
  position: relative;
  text-align: left;
}

.nav {
  padding:0;
}

h1{
  font-family:'Libre Baskerville', Georgia, serif;
  font-size: 5em;
  font-style: italic;
  color: #494949;
  position: relative;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-style:italic;
  color: #494949;
}

body{
  background-color: #b6b6cc;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.nav a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #9696ff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Noto Serif', serif;
  border-style: solid;
  border-width: thin;
  border-color: #000000
}
.nav a:hover, a:active {
  background-color: #ffffff;
  font-style: italic;
  color: #000000;
}

#bio {
  text-align: justify;
  position: relative;
  color: #000000
}

#bio a:link {
  color: #000000;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 800px){
    .nav {
      flex-flow: row;
      justify-content: flex-end;
      width: 100%;
  }
    .nav li {
      width: 25%;
  }
    h1, h2 {
      text-align: left;
    }
    img {
      margin-left: 10px;
    }
    .container {
      flex: 3 auto;
      order: 1;
    }
    .aside {
      flex: 2;
      order: 2;
    }

}
