img {
  border-style: none;
  position: relative;
  left: 400px;
  top: -275px;
}

#container {
    width: 95%;
    background-color: #ebe3ce;
    margin: 0 auto;
}
#bullets li {
  position: relative;
  top: -20px;
  left: 45px;
  text-align: left;
}

#nav {
  padding:0;
}

h1{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 5em;
  font-style: italic;
  color: #494949;
  position: relative;
  top: 25px;
  left: -300px;
}

h2{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2em;
  font-style:italic;
  color: #494949;
  position: relative;
  top: -10px;
  left: -450px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color: rgba(235, 227, 206, 0.5);
  text-align: center;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: helvetica, arial, sans-serif;
}
#nav a:hover, a:active {
  background-color: #FFFA74;
}

#bio {
  text-align: justify;
  position: relative;
  top: -150px;
  left: 50px;
}
