img {
  border-style: none;
  width: 100%;
}

.header, .bio, .aside {
  flex: 1 100%;
}

html {
  background-color: #4b4b7f;
}
.container {
    width: 95%;
    background-color: #e3e3ff;
    margin: 0 auto;
}
.bullets li {
  position: relative;
  list-style-type: none;
  text-align: left;
}


header{
  font-family:'Libre Baskerville', Georgia, serif;
  font-size: 5em;
  font-style: italic;
  color: #494949;
  position: relative;
}


body{
  background-color: #b6b6cc;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.nav a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #9696ff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Noto Serif', serif;
  border-style: solid;
  border-width: thin;
  border-color: #000000
}
.nav a:hover, a:active {
  background-color: #ffffff;
  font-style: italic;
  color: #000000;
}

.bio {
  text-align: justify;
  position: relative;
  color: #000000
}

.bio a:link {
  color: #000000;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 800px){
    .nav {
      flex-flow: row;
      justify-content: flex-end;
      width: 100%;
  }
    .nav li {
      width: 25%;
  }
    header {
      text-align: left;
    }
    .aside {
      flex: 2 auto;
      order: 2;
    }
    .bio {
      flex: 3 auto;
      order: 1;
    }
    .bio {
      display: flex;
      flex-flow: row;
    }
}
